/*--scss:defaults --*/
$yellow: #ffc627 !default;
$red: #8c1d40 !default;
$orange: #ff7f32 !default;
$blue: #00a3e0 !default;
$green: #78be20 !default;
$grey: #747474 !default;
$cgreen: #99bfaa !default;
$cbrown: #c4996c !default;

$primary: $cgreen !default;
$secondary: $cbrown !default;
$navbar-default-link-color: $cbrown !default;
$navbar-light-active-color: $cbrown !default;
$link-color: $red !default;

/*--scss:rules --*/

/* Tables */

table {
  background: $primary;
  border: 0px;
}

table td,
table th {
  // color: darkgrey;
  border: 1px;
  // font-size: 11pt;
  // height: 15px;
  padding: 0px 5px 0px 5px;
  cellpadding: 0;
  cellspacing: 0;
  text-shadow: none;
}

.header {
  background: $secondary;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: $secondary;
}
