/*--scss:defaults --*/
$yellow: #ffc627 !default;
$red: #8c1d40 !default;
$orange: #ff7f32 !default;
$blue: #00a3e0 !default;
$green: #78be20 !default;
$grey: #747474 !default;
$cgreen: #99bfaa !default;
$cbrown: #c4996c !default;

$primary: $cgreen !default;
$secondary: $cbrown !default;
$navbar-default-link-color: $cbrown !default;
$navbar-light-active-color: $cbrown !default;
$link-color: $red !default;

/*--scss:rules --*/

/* Tables */

table {
  background: $primary;
  border: 0px;
}

table td,
table th {
  // color: darkgrey;
  border: 1px;
  // font-size: 11pt;
  // height: 15px;
  padding: 0px 5px 0px 5px;
  cellpadding: 0;
  cellspacing: 0;
  text-shadow: none;
}

.header {
  background: $secondary;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: $secondary;
}

.center {
  text-align: center;
}

.drop-cap::first-letter {
  font-size: 3em;
  /* Larger size for the drop cap */
  color: #c4996c;
  /* Special color */
  font-weight: bold;
  /* Optional: Make it bold */
  float: left;
  /* Float the letter to the left of the text */
  line-height: 1;
  /* Adjust line height to align the drop cap */
  margin-right: 0.1em;
  /* Add some space between the letter and text */
}

/* Larger Font Text */
.large {
  font-size: 1.2em;
}

.small {
  font-size: 0.85em;
}

.fading {
  font-size: .9rem;
  color: #5a6570;
}

.center-container {
  display: flex;
  /* Enable flexbox */
  justify-content: center;
  /* Center items horizontally */
  align-items: center;
  /* Center items vertically */
}



/* Style gt tables like native tables */
.gt_table {
  background: $primary;
  border: 0px;
  width: 100%;
}

.gt_table th,
.gt_table td {
  border: 1px solid #ccc;
  padding: 0px 5px;
  font-size: 11pt;
  text-shadow: none;
}

.gt_col_headings {
  background: $secondary;
  color: white;
  font-weight: bold;
}

.gt_row:hover td {
  background-color: $secondary;
  color: white;
}
