/*--scss:defaults --*/
$yellow:  #ffc627 !default;
$red:     #8c1d40 !default;
$orange:  #ff7f32 !default;
$blue:    #00a3e0 !default;
$green:   #78be20 !default;
$grey:    #747474 !default;
$cgreen:  #99bfaa !default;
$cbrown:  #c4996c !default;

$primary: $cgreen !default; 
$secondary: $cbrown !default;
$navbar-default-brand-color: $cbrown !default;
$navbar-default-link-color: $cbrown !default;
$navbar-light-hover-color:  $cbrown !default;
$navbar-light-active-color:  $cbrown !default;
$link-color: $cbrown !default;
